.title {text-decoration: none}
a:link {color:#013}
a:hover, a:visited:hover {color:#012}
a:visited {color:#103}
a:is(.title) {color:#141414}
body{
    margin:1.5em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif;
    overflow-wrap: anywhere;
    word-wrap: break-word;
    color:#141414;
    background:#f2f2f2
}
@media (prefers-color-scheme: dark){
    body {color:#d8d8d8;background:#141414}
    a:link {color:#cdf}
    a:hover, a:visited:hover {color:#def}
    a:visited {color:#dcf}
    a:is(.title) {color:#d8d8d8}
}
h1,h2,h3,h4,h5,h6 {
    line-height:1.2;
    margin:0.4em 0;
}
@media print{
    body{max-width:none}
}
details > summary {
    font-size:1.17em;
    margin:0.25em 0;
    font-weight:bold;
    cursor:pointer;
}
ul {margin: 0.5em 0}
p {margin-top: 0em}
img {
    max-width: 100%;
    max-height: 50vh;
}
.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
